[alias]
	ad="!git add -A && git commit -m "
	am="!git add -A && git commit --amend --no-edit"
	br="!git checkout -b "
	cl="!git clone --verbose"
	cm="!git commit --amend -m "
	co="!git checkout"
	fe="!git fetch --all && git rebase origin/$(git rev-parse --abbrev-ref HEAD)"
	lg="!git log --oneline --graph --decorate"
	ne="!git init && git add -A && git commit -m "
	or="!git remote add origin"
	pf="!git push -f origin $(git rev-parse --abbrev-ref HEAD)"
	pu="!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
	rn="!git branch -M"
	st="!git status --verbose"
	tg="!git tag -a -m "
[commit]
	template = /Users/george/.stCommitMsg
[core]
	editor = code --wait
	excludesfile = /Users/george/.gitignore_global
[credential]
	helper = osxkeychain
[diff]
	tool = dt-code
[difftool "dt-code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[merge]
	tool = mt-code
[mergetool "mt-code"]
	cmd = code --wait $MERGED
[mergetool "sourcetree"]
	cmd = /Users/george/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = gzamfir-ca
	email = gzamfir_ca@icloud.com
